{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    {{ team.name }}

{% endblock %}


{% block content %}

    <h1>{{ team.name }} team</h1>


    <article>

        <header>
            <h3>{{ team.name }}</h3>
        </header>

        <p>Code: <strong>{{ team.code }}</strong></p>
        <p>Description: <strong>{{ team.description }}</strong></p>

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (team.manager == session.user_id) %}

                <a href="/delete/{{ team.code }}" onclick="return confirm('Really delete?');">Delete</a>

            {% else %}

                manager: <strong>{{ team.manager }}</strong>

            {% endif %}

        </footer>

    </article>

    <article>
    
        <h1>Add players</h1>
        

    </article>


    <a role="button" href="/things">Back to Thing List</a>

{% endblock %}

